<h1>{{word}} ({{pos}})</h1>
<div class="table-responsive">
	<table class="table">
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pré-Modificador (Adjectivo)</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_PRE_ADJ_ADJ">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pré-Modificador (Advérbio)</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_PRE_ADJ_ADV">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pré-Modificador de (Nome)</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_PRE_NOUN_ADJ">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pós-Modificador de (Nome)</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_POST_NOUN_ADJ">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td>Pós-Modificador PP</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_POST_ADJ_PP">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			</td>

	</table>
</div>