<h1>{{word}} ({{pos}})</h1>
<div class="table-responsive">
	<table class="table">
		<tr>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pré-Modificador de (Nome)</td>
					</tr>	
					<tr class="warning" ng-repeat="x in MOD_PRE_NOUN_ADV">
    					<td>{{ x.word}}</td>
    				
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pré-Modificador de (Adjetivo)</td>
					</tr>	
					<tr class="warning" ng-repeat="x in MOD_PRE_ADJ_ADV">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Modificador de (Verbo)</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_VERB_ADV">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Modificador de (Advérbio)</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_ADV_ADV">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Frases</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_TOP_ADV">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
		</tr>
	</table>
</div>