<div class="jumbotron jumbotron_deep">
	<div class="container">
		<div class="wordTitle">
			<h3>
				<span class="label label-warning">
					{{title}} 
				</span>
			</h3>
		</div>
		<div class="measureTitle">
			<h4>
				<span class="label label-default label_measures">
					Medida:  
				</span>
			</h4>
			<div class="dropdown">
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
					{{measure}}
					<span class="caret"></span>
					<!--<span class="sr-only">Toggle Dropdown</span>-->
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="x in measures" ng-click="changeMeasureDeps(x)">
						<a  href=""> {{ x }} </a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6" id="PRE_GOVERNED">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"> Alvo é Modificado à Esquerda</h3>
					</div>
					<div class="panel-body">
						<div class = "rowDeps" ng-repeat="x in PRE_GOVERNED">
							<table class="table table-bordered">
								<label>{{x.name}}</label>
								<tr class="warning" >
									<td>
										<span ng-repeat="y in x.data">
											<a ng-click="loadWordExample(x,y,'PRE_GOVERNED')" href="javascript:void(0);">
												<b>{{y.word}}</b>
											</a> 
											({{y.duallog}}:{{y.measure}})
											<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
										</span>
									</td>
								</tr>
							</table>
						</div>
						<div class = "notApplicable">
								<h4>{{msg_1}}</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6" id="POST_GOVERNED">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Alvo é Modificado à Direita</h3>
					</div>
					<div class="panel-body">
						<div class = "rowDeps" ng-repeat="x in POST_GOVERNED">
							<table class="table table-bordered">
								<label>{{x.name}}</label>
								<tr class="warning" >
									<td>
										<span ng-repeat="y in x.data">
											<a ng-click="loadWordExample(x,y,'POST_GOVERNED')" href="javascript:void(0);">
												<b>{{y.word}}</b>
											</a> 
											({{y.duallog}}:{{y.measure}})
											<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
										</span>
									</td>
								</tr>
							</table>
						</div>
						<div class = "notApplicable">
								<h4>{{msg_2}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6" id="PRE_GOVERNOR">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Alvo é Modificador à Esquerda</h3>
					</div>
					<div class="panel-body">
						<div class = "rowDeps" ng-repeat="x in PRE_GOVERNOR">
							<table class="table table-bordered">
								<label>{{x.name}}</label>
								<tr class="warning" >
									<td>
										<span ng-repeat="y in x.data">
											<a ng-click="loadWordExample(x,y,'PRE_GOVERNOR')" href="javascript:void(0);">
												<b>{{y.word}}</b>
											</a> 
											({{y.duallog}}:{{y.measure}})
											<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
										</span>
									</td>
								</tr>
							</table>
						</div>
						<div class = "notApplicable">
								<h4>{{msg_3}}</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6" id="POST_GOVERNOR">
				<div class="panel panel-rightDepsGovernor">
					<div class="panel-heading">
						<h3 class="panel-title">Alvo é Modificador à Direita</h3>
					</div>
					<div class="panel-body">
						<div class = "rowDeps" ng-repeat="x in POST_GOVERNOR">
							<table class="table table-bordered">
								<label>{{x.name}}</label>
								<tr class="warning" >
									<td>
										<span ng-repeat="y in x.data">
											<a ng-click="loadWordExample(x,y,'POST_GOVERNOR')" href="javascript:void(0);">
												<b>{{y.word}}</b>
											</a> 
											({{y.duallog}}:{{y.measure}})
											<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
										</span>
									</td>
								</tr>
							</table>
						</div>
						<div class = "notApplicable">
								<h4>{{msg_4}}</h4>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{exampleTitle}}</h4>
			</div>
			<div class="modal-body">
					<div class = "row">
						<div class = "col-md-4">
							<label>Relação:</label>
						</div>
						<div class = "col-md-6">
							{{depTitle}}
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-4">
							<label>Palavra Alvo:</label>
						</div>
						<div class = "col-md-6">
							<p>{{word}} ({{pos}})</p>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-4">
							<label>Palavra Co-ocorrente:</label>
						</div>
						<div class = "col-md-6">
							<p>{{otherWord}} ({{pos_otherWord}})</p>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-4">
							<label>{{measure}}:</label>
						</div>
						<div class = "col-md-6">
							<p>{{m_value}}</p>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-4">
							<label>Frequência:</label>
						</div>
						<div class = "col-md-6">
							<p>{{frequency}} ({{logfrequency}})</p>
						</div>
					</div>
				<div class = "concordance">
					<table class="table table-striped">
					  ...
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end Modal -->

<div class = "deepword"> 
  <div class="jumbotron">
    <div class="container">
      <label for="palavra">Introduzir palavra</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Palavra" ng-model="word">
        <span class="input-group-btn">
          <button type="button" class="buttonMiddle btn btn-default dropdown-toggle" data-toggle="dropdown" style= "width: 94px;">
            {{pos}}
            <span class="caret"></span>
            <!--<span class="sr-only">Toggle Dropdown</span>-->
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="x in classes" ng-click="changePos(x)">
              <a  href=""> {{ x }} </a>
            </li>
          </ul>
        </span>
        <span class="input-group-btn">

          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style= "width: 125px;">
            {{measure}}
            <span class="caret"></span>
            <!--<span class="sr-only">Toggle Dropdown</span>-->
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="x in measures" ng-click="changeMeasure(x)">
              <a  href=""> {{ x }} </a>
            </li>
          </ul>
        </span>
      </div>
      <div class = "moreOptions">
        <table style="width:100%">
          <tr>
            <td>
              <label class="control-label">Frequência mínima: </label>
            </td>
            <td>
              <div class="inputNumber">
                <input type="number" class="form-control" ng-model="minfreq">
              </div>
            </td> 
          </tr>
          <tr>
            <td>
              <label class="control-label">Número máximo de palavras:</label>
            </td>
            <td>
              <div class="inputNumber">
                <input type="number" class="form-control" ng-model="maxword">
              </div>
            </td> 
          </tr>
        </table>
      </div>
      <div class = "showmoreOptionButtons"> 
        <div class="row">
          <button type="button" class="btn btn-link" ng-click="moreOptions()">
            Mais Opções
          </button>
          <button class="btn btn-default" type="submit" value="Mostrar" ng-click="searchWord()">Mostrar</button>
        </div>
      </div>
      <div class = "showlessOptionButtons"> 
        <div class="row">
          <button type="button" class="btn btn-link" ng-click="lessOptions()">
            Esconder Opções
          </button>
          <button class="btn btn-default" type="submit" value="Mostrar" ng-click="searchWord()">Mostrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "waitfForWord">
	<div class ="content">  
		<div class = "waitText">
			A processar ...
		</div>
		<div class="sk-circle">
			<div class="sk-circle1 sk-child"></div>
			<div class="sk-circle2 sk-child"></div>
			<div class="sk-circle3 sk-child"></div>
			<div class="sk-circle4 sk-child"></div>
			<div class="sk-circle5 sk-child"></div>
			<div class="sk-circle6 sk-child"></div>
			<div class="sk-circle7 sk-child"></div>
			<div class="sk-circle8 sk-child"></div>
			<div class="sk-circle9 sk-child"></div>
			<div class="sk-circle10 sk-child"></div>
			<div class="sk-circle11 sk-child"></div>
			<div class="sk-circle12 sk-child"></div>
		</div>
		<div class = "waitText">
			<button type="button" class="btn btn-link" ng-click="reloadPage()">
				Voltar ao início
			</button>
		</div>
	</div>
</div>
