<h1>{{word}} ({{pos}})</h1>
<div class="table-responsive">
	<table class="table">
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pré-Modificadores </td>
					</tr>	
					<tr class="warning" ng-repeat="x in PRE-MOD">
    					<td>{{ x.word  + "  " +  x.frequency}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Modificadores PP </td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD-PP">
    					<td>{{ x.word  + "  " +  x.frequency}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pós Modificadores Adjetivais</td>
					</tr>	
					<tr class="success" ng-repeat="x in POST-MOD">
    					<td>{{ x.word  + "  " +  x.frequency}}</td>
					</tr>
				</table>
			</td>

	</table>
</div>
