<h1>{{word}} ({{pos}})</h1>
<div class="table-responsive">
	<table class="table">
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pré-Modificadores (Advérbio) </td>
					</tr>	
					<tr class="warning" ng-repeat="x in MOD_PRE_NOUN_ADV">
    					<td>{{ x.word  + "  " +  x.frequency}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pré-Modificadores (Adjetivo)</td>
					</tr>	
					<tr class="warning" ng-repeat="x in MOD_PRE_NOUN_ADJ">
    					<td>{{ x.word  + "  " +  x.frequency}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Modificadores PP </td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_POST_NOUN_PP">
    					<td>{{ x.word  + "  " +  x.frequency}}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Pós Modificadores (Adjetivo)</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_POST_NOUN_ADJ">
    					<td>{{ x.word  + "  " +  x.frequency}}</td>
					</tr>
				</table>
			</td>
	</table>
</div>
