<h1>{{word}} ({{pos}})</h1>
<div class="table-responsive">
	<table class="table">
		<tr>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Sujeito</td>
					</tr>	
					<tr class="warning" ng-repeat="x in SUBJ_SEM_PROP">
    					<td>{{ x.word}}</td>
    				
					</tr>
				</table>
			<td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Complemento Directo</td>
					</tr>	
					<tr class="success" ng-repeat="x in CDIR_SEM_PROP">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			<td>
			<td>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Complementos</td>
					</tr>	
					<tr class="success" ng-repeat="x in COMPLEMENTOS_SEM_PROP">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
			<td>
		</tr>
		<tr>
				<table class="table table-bordered">
					<tr class="active">
  						<td >Advérvios</td>
					</tr>	
					<tr class="success" ng-repeat="x in MOD_VERB_ADV">
    					<td>{{ x.word}}</td>
					</tr>
				</table>
		</tr>
	</table>
</div>
