.deepword{
padding-top: 2%;
position: relative;
width: 40%;
margin-right: auto;
margin-left: auto;

}
.showword{
padding-top: 2%;
position: relative;
text-align:center
}

/*button in the midle*/
.buttonMiddle{ 	
  	border-bottom-left-radius: 0;
  	border-top-left-radius: 0;
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
}

.showButton{
	padding-top: 2%;
	width: 11%;
	margin-right: auto;
	margin-left: auto;
}